/* Base Setup */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
}
/* Navigation bar */
.icon {
    display: none;

}

.navresponsive{
    background-color: aqua;
}
.logo{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    background-color: grey;
    padding: 20px;
    margin: 0px;
    justify-content: center;
    list-style-type: none;
}
.navbar li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
.navbar li a:hover{
    color: yellow;
}
/* Home Page */
.banner{
    height: 400px;
    width: 100%;
    background-color: chocolate;
}
.home_section{
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: cornflowerblue;
}
.home_teacher{
    background-color: white;
    padding: 20px;
    flex: 1;
    margin: 10px;
}
.home_message{
    background-color: white;
    padding: 20px;
    flex: 1;
    margin: 10px;
}
.home_experience{
    width: 100%;
    background-color:yellowgreen;
    padding: 20px;
}
.home_experience_inner_text{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: tomato;

    color: white;
}
.home_experience_inner_images{
    display: flex;
    width: 100%;
}
.home_experience_inner_inside_image_side{
    display: flex;
    justify-content: center;
    background-color: white;
    flex: 1;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home_experience_inner_inside_image_middle{
    display: flex;
    justify-content: center;
    background-color: white;
    flex: 1;
    margin: 20px;
    width: 100%;
}
/* Guide Page */
/* Game Page */
.gameinsert{
    display: flex;
    padding: 20px;
    background-color: blue;
    width: 100%;
    /* height: 200px; Remove after game inserted just for indication */
}

/* Creator Page */
/* Sitemap */
.sitemap{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.sitemap_header_side{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sitemap_header_title{
    margin-bottom: 20px;
}
.sitemap_header_title a{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.sitemap_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sitemap_content a{
    display: flex;
    justify-content: center;
    margin: 5px;
    text-decoration: none;
}
.sitemap_header_title:hover{
    text-decoration: underline;
}
/* Footer */
.horizontal{
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color:yellowgreen;
}
.footer_text{
    display: flex;
    justify-content: center;
    padding: 3px;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}
/* Back to Top button */
.backtotop {
    position: fixed;
    bottom: 60px;
    right: 40px;

}

.backtotop a {
    background-color:black;
    border-radius: 10px;
    padding: 10px;
    color:white;
    border: 1px solid white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.backtotop a:hover {
    background-color: grey;
}

@media screen and (max-width:600px) {

/* Navigation bar */

    .icon {
        display: unset;
    }

    .navbar li:not(:last-child) {
        display: none;
    }

    .navresponsive.responsive {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .navresponsive.responsive .navbar li {
        display: flex;
    }

    .navresponsive.responsive .navbar {
        display: flex;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
    }
/* Sitemap */
    .sitemap{
        display: none;
    }
/* Footer */
    .footer_text {
        font-size: 8px;
    }
}