/* Base Setup */
*{
    box-sizing: border-box;
}
@font-face {
    font-family: pixel;
    src: url(Fonts/Pixellari.ttf)
  }

html{
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
}
/* Log in Page */
.loginbackground{
    background-image: url(Images/background-2.0.png);
}
.logo_total{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 200px 200px 50px 200px;
}
.login_logo img{
   height: 200px;
}
.login_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_info_text{
    margin:10px;
    width: 20%;
    border: 2px solid black;
    border-radius: 8px;
    padding:10px;
}
.createaccount{
    text-align: center;
    margin: 10px;
}
.createaccount a{
    text-decoration: none;
    color: black;
}
.createaccount a:hover{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: grey;
}
.submitbutton{
    display: flex;
    justify-content: center;
    padding:20px;

}
.wrong{
    text-align: center;
    color: red;
}
/* Navigation bar */
.icon {
    display: none;

}

.navresponsive{
    background-image: url(Images/background-2.0.png);
    background-size: cover;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo a img{
    height: 100px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.logo a img:hover{
    transform: scale(1.1);
}
.navbar{
    display: flex;
    background-color: #F59898;
    padding: 20px;
    margin: 0px;
    justify-content: center;
    list-style-type: none;
}
.navbar li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-family:pixel;
    font-size: 22px;
}
.navbar li a:hover{
    transition-property: all;
    transition-timing-function:ease-in-out;
    transition-duration: 0.2s;
    color: #B76767;
}
.terms{
    display: none;
}
/* Home Page */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pixel;
    font-size: 100px;
    width: 100%;
    padding: 40px;
    background-image: url(Images/background-2.0.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.bannerimageone img{
    width:100%;
}
.bannerimagetwo{
    animation: bannerlogo 2s linear infinite;
}
@keyframes bannerlogo {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.bannerimagetwo img{
    width: 100%;
}
.home_section{
    display: flex;
    padding: 10px;
    width: 100%;
    background-color:#F59898;
}
.home_message{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F59898;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    margin: 10px;
    font-family: pixel;
    font-size: 40px;
    color: white;
}
.home_experience{
    width: 100%;
    background-color:#75DDB8;
    padding: 20px;
}
.home_experience_inner_text{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-family: pixel;
    font-size: 50px;
}
.home_experience_inner_images{
    display: flex;
    width: 100%;
}
.home_experience_inner_inside_image_side{
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home_experience_inner_inside_image_side a img{
    width: 100%;
}
.home_experience_inner_inside_image_side a img:hover{
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.05);
}
.home_experience_inner_inside_image_middle{
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 20px;
    width: 100%;
}
.home_experience_inner_inside_image_middle a img{
    width: 100%;;
    
}
.home_experience_inner_inside_image_middle a img:hover{
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transform: scale(1.05);
    
}
/* Guide Page */
.guidebanner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pixel;
    font-size: 100px;
    height: 420px;
    width: 100%;
    background-image: url(Images/Guidebanner.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.guidenavigation{
    display: flex;
    background-color:white;
    width: 100%;

}
.guidenavigation_innerone{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color:white;
}
.guidenavigation_innerone a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    flex: 1;
    padding: 20px;
    font-family: pixel;
    font-size: 22px;
}
.guidenavigation_innerone a:hover{
    color:white;
    background-color:#75DDB8;
    transition-property: all;
    transition-timing-function:ease-in-out;
    transition-duration: 0.2s;
}
.guidenavigation_innertwo{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: white;
}
.guidenavigation_innertwo a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    flex: 1;
    padding: 20px;
    font-size: 22px;
    font-family: pixel;
}
.guidenavigation_innertwo a:hover{
    color:white;
    background-color:#b68df7;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.guidenavigation_innerthree{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: white;
}
.guidenavigation_innerthree a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    flex: 1;
    padding: 20px;
    font-family: pixel;
    font-size: 22px;
}
.guidenavigation_innerthree a:hover{
    background-color: #FFB346;
    color: white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.headerone{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:#75DDB8;
    color:white;
    font-family:pixel;
}
.rules{
    background-color: #65C3A1;
    padding: 10px;
}
.borderrules{
    background-color: #65C3A1;
    border: 2px solid white;
    padding: 20px;
}
.titleofrules{
    margin: 0px;
    font-size: 50px;
    color: white;
    font-family: pixel;
    text-align: center;
}
.fullrules{
    margin: 0px;
    color: white;
    font-family: pixel;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.headertwo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:#b68df7;
    color:white;
    font-family: pixel;
}
.headerthree{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:#FFB346;
    color:white;
    font-family:pixel;
}
.iteminformation_innerone{
    display: flex;
    background-color: #7e61ac;
    padding: 70px;
}
.iteminformation_innertwo{
    display: flex;
    background-color: #7e61ac;
    padding: 70px;
}
.iteminformation_image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}
.iteminformation_inner_image{
    display: flex;
    justify-content: center;
}
.iteminformation_inner_text{
    display: flex;
    justify-content: center;
    color: white;
    font-family: pixel;
    font-size: 40px;
    padding: 50px;
}
.iteminformation_explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: pixel;
    padding: 50px;
    flex: 1;
    background-color:#b68df7;
    border-radius: 14px;
    font-size: 40px;
    text-align: center;
}

.iteminformation_inner_image img{
    width: 60%;
}
.collectables{
    display:flex;
    justify-content: center;
    padding: 80px;
    flex-direction: column;
    background-color:#b67f32 ;
}
.collectables_inner{
    display: flex;
    padding: 30px;
    background-color:#FFB346;
    border-radius: 8px;
    margin-top: 10px;
}
.collectables_image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 30%;
}
.collectables_image img{
    height: 180px;
}
.collectables_explanation{
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: center;
    font-family: pixel;
    color: white;
    width: 70%;
}
.collectables_explanation h2{
    font-size: 40px;
    margin: 20px;
    
}
.collectables_explanation p{
    margin: 0px;
    font-size: 30px;
}
/* Game Page */
.gameinsert{
    display: flex;
    padding:20px;
    width: 100%;
}
.gameContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    font-family:pixel;
    background-image: url(Images/Guidebanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.upgrades{
    width: 50%;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: auto;
}

.upgradeItems{
    background-color: #75DDB8;
    color: white;
    transition: all .1s ease-in-out;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    font-size: 30px;
    /* border: 2px;
    border-style: solid;
    border-color: black; */
}

.upgradeItems:hover{
    background-color: rgba(218, 218, 218, 0.719);
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.upgradeItems .upgradeImage{
    width: 15%;
}

.upgradeItems .upgradeImage img{
    width: 100%;
}

.upgradeItems p{
    margin: 0;
    margin-left:  20px;
    width: 60%;
}

.upgradeItems p:first-of-type{
    margin-bottom: 10px;
    font-size: 50px;
}

.numberDisplay{
    font-size: 70px;
    width: 13%;
}

#modifiersContainer{
    margin: 20px 0px;
}

#modifiersContainer img{
    height: 50px;
    height: 50px;
    cursor: pointer;
}

.modifiers{
    margin: 0px 5px;
    background-color: #FFB346;
    padding: 10px;
    font-size: 30px;
}

.clicker{
    width: 50%;
    /* background-image: url("Images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.clicker h1, .upgrades h1{
    margin: 5px 0px;
    font-size: 50px;
}

.clicker p{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.clicker img{
    margin: 50px 0px;
    transition: all .1s ease-in-out;
    width: 350px;
}

.clicker img:hover{
    transform: scale(1.10);
    cursor: pointer;
}

.clicker img:active{
    transform: scale(0.99);
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options div {
    background-color: antiquewhite;
    padding: 10px;
    width: 150px;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 10px 10px;
    font-size: 20px;
}

.transcend {
    position: absolute;
    bottom: 35px;
    right : 30px;
    background-color: antiquewhite;
    padding: 10px;
    width: 100px;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 10px 0px;
    font-size: 20px;
}

.popup {
    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 50%;
    text-align: center;
}

.popupStats{
    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 50%;
    text-align: center;
}

.popupStats ul{
    text-align: left;
    font-size: 25px;
}

/* Creator Page */
.creatorbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pixel;
    font-size: 100px;
    height: 420px;
    width: 100%;
    background-image: url(Images/creatorsbanner.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.creators{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:#75DDB8;
    color:white;
    font-family:pixel; 
    font-size: 22px;
}
.creatorsinfo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    background-color:#65C3A1 ;
}
.creatorsinfo_inner{
    padding: 50px;
}
.creatorsimage{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.creatorsimage img{
   height: 250px;
}
.creatorsname{
    display: flex;
    justify-content: center;
    color: white;
    font-family: pixel;
    font-size: 40px;
}
.creatorsrole{
    display: flex;
    justify-content: center;
    color: #43866f;
    font-family: pixel;
    font-size: 20px;
}
.creatorscontact{
    margin: 0px;
}
.creatorscontact a{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    text-decoration: none;
}
.creatorscontact a i:hover{
    transform: scale(1.2);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.feedback{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:#b68df7;
    color:white;
    font-family:pixel;
    font-size: 22px;
}
.feedbackform{
    background-color:#7e61ac ;
    padding: 40px;
}
.feedbackform_inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.formtextone{
    width: 300px;
}
.formtexttwo{
    width: 300px;
}
.feedbackheader{
    margin: 0px;
    color: white;
    font-size: 35px;
    font-family: pixel;
    padding: 10px;
}
.submit{
    background-color: #b68df7;
    color:white;
    font-family: pixel;
    padding: 10px 50px 10px 50px;
    border: solid white 2px;
    border-radius: 10px;
}
/* Sitemap */
.sitemap{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #B76767;
}
.sitemap_header_side{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sitemap_header_image a img{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    height: 120px;
}

.sitemap_header_image a img:hover{
    transform: scale(1.1);
}
.sitemap_header_title{
    margin-bottom: 20px;
}
.sitemap_header_title a{
    display: flex;
    justify-content: center;
    color:white;
    font-family: pixel;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.sitemap_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sitemap_content a{
    display: flex;
    justify-content: center;
    margin: 5px;
    color:rgb(206, 206, 206);
    text-decoration: none;
    font-family: pixel;
}
.sitemap_content a:hover{
    text-decoration: underline;
}
.sitemap_header_title a:hover{
    color:rgb(206, 206, 206);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
/* Terms and conditions and privacy policy */
.others{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#65C3A1 ;
}
.termsandconditions{
    padding: 30px;
}
.termsandconditions h2{
    text-align: center;
    margin: 0px;
    font-family: pixel;
    color: white;
}
.termsandconditions p{
    color:white;
}
.privacypolicy{
    padding: 30px;
}
.privacypolicy h2{
    text-align: center;
    margin: 0px;
    font-family: pixel;
    color: white;
}
.privacypolicy p{
    color:white;
}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    background-color:#F59898;
}
.footer_text{
    display: flex;
    justify-content: center;
    padding: 3px;
    color: white;
    font-size: 12px;
    font-family: pixel;
}
/* Back to Top button */
.backtotop {
    position: fixed;
    bottom: 60px;
    right: 40px;

}

.backtotop a {
    background-color:black;
    border-radius: 10px;
    padding: 10px;
    color:white;
    border: 1px solid white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.backtotop a:hover {
    background-color: grey;
}
/* Others */
.hrcolor {
    border-top: 2px solid white;
    width: 500px;
}
@media screen and (max-width:600px) {

/* Navigation bar */

    .icon {
        display: unset;
    }

    .navbar li:not(:last-child) {
        display: none;
    }

    .navresponsive.responsive {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .navresponsive.responsive .navbar li {
        display: flex;
    }

    .navresponsive.responsive .navbar {
        display: flex;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
    }
    .terms{
        display: unset;
    }
    /* Home */
    .banner{
        flex-direction: column;
    }
    .home_section{
        text-align: center;
    }
    .home_experience_inner_text{
        text-align: center;
    }
    .home_experience_inner_images{
        flex-direction: column;
    }
    .home_experience_inner_inside_image_middle{
        margin-right: 0px;
        margin-left: 0px;
    }
    /* Guide */
    .guidenavigation{
        flex-direction: column;
    }
    .iteminformation_innerone{
        flex-direction: column;
    }
    .iteminformation_innertwo{
        flex-direction: column-reverse;
    }
    .collectables_inner{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .collectables_image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    .collectables_explanation{
        padding: 0px;
    }
    .collectables_explanation h2{
        font-size: 40px;
    }
    .collectables_explanation p{
        font-size: 20px;
    }
    /* Game */
    .gameContainer {
        height: auto;
        flex-direction: column;
    }
    .clicker{
        width: 100%;
    }
    .upgrades{
        width: 100%;
    }
    /* Creators */
    .creatorbanner {
        font-size: 70px;
    }
    .creatorsinfo{
        flex-direction: column;
    }
    /* Sitemap */
        .sitemap{
            display: none;
        }
    /* Footer */
        .footer_text {
            font-size: 8px;
        }
    }